# Discussion 02: Plotting, Functions, Simulation and MIDTERM REVIEW

## **Midterm : Wednesday, July 14th** 

Welcome to Discussion 02! 

Here's a quick rundown of topics for this discussion:

- **Plotting**

- **Writing Functions**

- Utilizing the ```.apply()``` function to modify DataFrames.

- **Merge**: "cross-reference" tables 

- **GroupBy** : group data entries together by column value - we can also specify multiple columns!

- **Conditionals** : if statements

- **Iteration** : for loops

- **Simulation** : probability experiments

You can find additional help on these topics in the course [textbook](https://eldridgejm.github.io/dive_into_data_science/front.html).

<img src="data/panda_lounging.jpeg" width="1000">

### Remember the calfire dataset?
We're going to use it again!

In [1]:
import babypandas as bpd
import numpy as np

import otter
grader = otter.Notebook()

calfire = bpd.read_csv('data/calfire-full.csv')
calfire

# Plotting

We can visualize and plot our data directly from DataFrames! 
This can be very beneficial to help us draw conclusions that would be difficult to come up with otherwise.

`df.plot(kind='...', x=..., y=...)`
- `kind= ` "scatter", "line", "bar", "barh"

`df.get(col_name).plot(kind='hist', bins=n_bins, density=True)`

## Question 1: Is the largest fire per year increasing?
*set ```max_fire_is_increasing``` to True if the the largest fire per year is increasing*

<!--
BEGIN QUESTION
name: q11
-->

In [2]:
max_is_increasing = ...
max_is_increasing

In [ ]:
grader.check("q11")

## Question 2: Is there an association between latitude and fire size?
*set ```latitude_size_association``` to True if there is an association between latitude and fire size*

<!--
BEGIN QUESTION
name: q12
-->

In [5]:
latitude_size_association = ...
latitude_size_association

In [ ]:
grader.check("q12")

## Question 3: What is the distribution of fire sizes?

## Question 4: Plot the number of fires due to each cause.

## Question 5: In what times of the year are *large* fires most common in *Southern California*?

By large, say over 5,000 acres. By SoCal, we mean latitude < 37.

In [11]:
...

## Question 6: On the same plot, show natural vs. human-caused over time.

- That is, have one line for the number of fires caused by lightning over time.
- Another line for all other causes over time.

# Functions and Apply

Now lets take a look at writing our own functions and then applying these functions to DataFrames.

## Question 7: Cause Codes

- Currently, the causes are written as `<code> - <name>`. Like: `7 - Arson`.
- Write a function which takes in the cause and outputs only the name.

## Question 8:  Replace the `cause` column with one containing only the names

## Question 9:  Convert months numbers to names.

- Write a function that converts a month's number (1, 2, 3, ..., 12) to the word (January, ..., December).

In [18]:
def month_number_to_name(month_number):
    import calendar
    month_name = calendar.month_name[month_number]
    return month_name

## Question 12:  Closest fire

- Write a function that accepts a latitude/longitude pair and returns the name of the closest fire.

# College Scorecard

### A wild dataset has appeared!

Check out some interactions with the dataset here --> http://collegescorecard.ed.gov

In [25]:
colleges = bpd.read_csv('data/csc_basic.csv').set_index('UNITID')
colleges

# Question 2.1

Which state has the most colleges/universities? (save the state abbreviation)

<!--
BEGIN QUESTION
name: q21
-->

In [26]:
...
state_most_colleges

# State Population

**Another wild dataset has appeared!**

We'll need this data for the next question.

In [27]:
pops = bpd.read_csv('data/state-population.csv')
pops

# Question 2.2

Which state has the largest number of colleges *per person*?

HINT: Play around with the old dataset and this new dataset then use ```.merge()``` 

<!--
BEGIN QUESTION
name: q22
-->

In [28]:
# get a DataFrame of colleges_per_state
colleges_per_state = ...
colleges_per_state

In [29]:
# get a DataFrame of pops_by_state
...
pops_by_state

In [30]:
# now merge them!
...
colleges_with_pops

In [31]:
# calculate a new per_person column
...
per_person

In [32]:
...
largest_colleges_per_person

# Question 2.3

The `preddeg` column specifies the primary degree type offered (Associates, Bachelors, etc.) How many institutions of each type does each state have?

<!--
BEGIN QUESTION
name: q23
-->

In [33]:
count_institute_type = ...
count_institute_type

In [ ]:
grader.check("q23")

# College Scorecard with Earnings

### What? The dataset is evolving!

Here we see a bit more info about all of our colleges.

In [35]:
with_earnings = bpd.read_csv('data/csc_financials.txt')
with_earnings

# Question 2.4

What is the median earnings `MD_EARN_WNE_P10` amount for UCSD graduates?


<!--
BEGIN QUESTION
name: q24
-->

In [36]:
...

median_earnings_UCSD

In [ ]:
grader.check("q24")

# Part 3 : Cards

The next few questions will be about a standard deck of cards

In [38]:
# Create a deck of cards as a list

values = [2, 3, 4, 5, 6, 7, 8, 9, 10, 'J', 'Q', 'K', 'A']
suits = ['hearts', 'diamonds', 'clubs', 'spades']

ALL_CARDS = []
for value in values:
    for suit in suits:
        card = str(value) + ' of ' + suit
        ALL_CARDS.append(card)

In [39]:
ALL_CARDS

# Question 3.1

Simulate drawing 5 cards *without replacement*

<!--
BEGIN QUESTION
name: q31
-->

In [40]:
...

# Question 3.2

Simulate drawing 5 cards *with* replacement
<!--
BEGIN QUESTION
name: q32
-->

In [41]:
...

# Question 3.3

Make a function ```is_card_clubs(card)``` which, given a single card, determines if that card is a club.

<!--
BEGIN QUESTION
name: q33
-->

In [42]:
def is_card_clubs(card):
...

In [ ]:
grader.check("q33")

# Question 3.4

Make a function `number_of_suit(cards, suit)` which, given a list of cards, counts the number of cards matching the suit.

<!--
BEGIN QUESTION
name: q34
-->

In [44]:
def number_of_suit(cards, suit):
...

# Question 3.5

What is the probability that a hand of 5 cards, drawn *without* replacement, has 2 or more clubs?

1. Figure out how to run one experiment (put it in a function, ex: ```experiment()```). 
2. Run the experiment a bunch of times (use a for loop!).
3. Calculate the proportion of times that the thing is true.

<!--
BEGIN QUESTION
name: q35
-->

### 1. Run one experiment

In [45]:
def experiment():
...

### 2. Run the experiment a bunch of times

Start by running it 1000 times

In [46]:
...

### 3. Calculate the probability

That is, what proportion of times did we see >= 2 clubs?

In [47]:
...

# Question 3.6

What is the probability that all of the cards in that hand are clubs?

<!--
BEGIN QUESTION
name: q36
-->

In [48]:
...

# Question 3.7

What is the probability of getting all red cards when drawing 5 cards without replacement?

HINT: Follow the same structure as we did before

<!--
BEGIN QUESTION
name: q37
-->

In [49]:
...

In [50]:
...

In [51]:
...

In [52]:
...

### MIDTERM REVIEW

In [53]:
df = bpd.read_csv('data/player_data.csv')
df

# Top Ten Table Patterns

## And some variations

Let's look at the most common patterns we have been using on tables. They are quite simple when you have a computer. 

However, for the exam, you really need to get familiar with them.

Best way to study: Study by writing code with pen and paper. Learn to check your code for logical and syntax errors, without the help of Python!

# 0) Get and Drop Columns

**Pattern**: `df.get(column_name)`

**Pattern**: `df.drop(columns = column_name)`

Where column_name is a string

In [54]:
df.get('Points')

In [55]:
df.get('Age')

### Drop column "Age"

In [56]:
df_modified = df.drop("Age")

In [57]:
help(bpd.DataFrame.drop)

In [58]:
df_modified = df.drop(columns = "Age")
df_modified

In [59]:
df_modified = df.drop(columns = ["Age", "Team", "Games"])
df_modified

# 1) Get something by its label & index

**Example**: how many points did LeBron James have?

**Pattern**: `df.get(column_name).loc[row_label].`

### Getting data by its label

In [60]:
df = df.set_index('Name')

### Get the points of the player: LeBron James.

In [61]:
df.get('Points').loc['LeBron James']

### Get the Games of the player: Chris Paul.

In [62]:
df.get('Games').loc['Chris Paul']

### Getting Multiple datapoints by their labels

Get the points of players James Harden, Stephen Curry, Adreian Payne

In [63]:
query_players = ["James Harden", "Stephen Curry", "Adreian Payne"]
df.get('Points').loc[query_players]

# 2) Find the label with the largest/smallest value.

**Example**: Player with the most points?

**Pattern**: `df.sort_values(by = "Points").iloc[-1]`

**Pattern**: `df.sort_values(by = "Points", ascending = False).iloc[0]`

### According to score, get the point and name of best player

In [64]:
df.get("Points").sort_values()

In [65]:
df = df.sort_values()

In [66]:
df = df.sort_values(by = "Points") # ascending

In [67]:
# Wrong
df.get('Points').iloc[0]

In [68]:
# Correct
df.get('Points').iloc[-1]

In [69]:
df.index[-1]

### Get the name and age of 5th oldest player

In [70]:
df

In [71]:
df = df.sort_values(by = "Age") # ascending
df.get("Age").iloc[-5]

In [72]:
df.index[-5]

### Get the names & ages of the oldest 5 players

In [73]:
query_range = np.arange(0, 4+1)

(df
    .get('Age')
    .sort_values(ascending = False)
    .iloc[query_range]
)

### Get the name of the oldest player, who also has the most number of points.

In [74]:
df = df.sort_values(by = ["Age", "Points"]) 
df

In [75]:
df.index[-1]

### Get the age and points of this player

In [76]:
df.get("Age").iloc[-1]

In [77]:
df.get("Points").iloc[-1]

---

# 3) Compute a statistic for a subset. Filter to get the subset.

**Example**: Players info for players with age >= 30

**Pattern**:

`bool_mask = df.get('Age') >= 30
df[bool_mask]
`

### Return a table containing entries for players with age >= 30

In [78]:
bool_mask = df.get('Age') >= 30
df[bool_mask]

### Get the mean points for players with age >= 30

In [79]:
bool_mask = df.get('Age') >= 30
df[bool_mask].get('Points').mean()

### Calculate the mean of points. Get the mean age of the players, who have scored higher than or equal to the mean points.

In [80]:
mean_points = df.get('Points').mean()
bool_mask = df.get('Points') >= mean_points
df[bool_mask].get('Age').mean()

# 4) Combining Conditions, Filtering and Getting Statistics

**Example**: Players with more than 600 assists and 100 steals

**Pattern**:

`mask1 = df.get('Assists') > 600
mask2 = df.get('Steals') > 100
bool_mask = mask1 & mask2
df[bool_mask]
`

**Pattern**: Don't forget the parantheses if you write it like below:

`
df[(...) & (...) & (...)]
df[(df.get('Assists') > 600) & (df.get('Steals') > 100)]
`

### Filter the table, players who have more than 600 assists and more than 100 steals

In [81]:
mask1 = df.get('Assists') > 600
mask2 = df.get('Steals') > 100
bool_mask = mask1 & mask2
df[bool_mask]

### How many players have more than 300 rebounds and more than 20 blocks?

In [82]:
mask1 = df.get('Rebounds') > 1000
mask2 = df.get('Blocks') > 100
bool_mask = mask1 & mask2
df[bool_mask].shape[0]

In [83]:
### Who are these players?

In [84]:
bool_mask = mask1 & mask2
df[bool_mask].index

### Calculate the median age of a subset of the players.

This subset includes, the players who scored higher than the mean points, and played more than 40 games.

In [85]:
mean_points = df.get('Points').mean()
mask1 = df.get('Points') >= mean_points
mask2 = df.get('Games') > 40
bool_mask = mask1 & mask2
df[bool_mask].get('Age').median()

# 5) Compute statistics for a group. 

**Pattern**:

`df.groupby(column_name).func()
`
Where func is the aggrageting function

### Get the total score sum for each team.

In [86]:
df.groupby('Team').sum()

In [87]:
df.groupby('Team').sum().get(["Points"])

### How many players does each team have?

In [88]:
df.groupby('Team').count().get(["Points"])

### Get the mean number of games & mean points for each team

In [89]:
df.groupby('Team').mean().get(["Games", "Points"])

### Get the sum of Points per Game for each team

In [90]:
new_col = df.get("Points") / df.get("Games")
df_new = (df
    .assign(Points_Per_Game = new_col)
    .sort_values(by = "Points_Per_Game",ascending = False)
)
df_new

In [91]:
df_new.groupby("Team").sum().get("Points_Per_Game")

# 6) Apply function & Conditionals

**Pattern**: `df.get(a_column).apply(a_function)`

### Given a full name, write a function that finds how many words it has

In [92]:
def find_name_len(string):
    """ Finds how many words the name contains """
    return len(string.split())

In [93]:
find_name_len("Frank Lloyd Wright")

In [94]:
find_name_len("Tony Montana")

In [95]:
df.reset_index()

In [96]:
### Apply your function to the Name column

In [97]:
df.reset_index().get("Name").apply(find_name_len)

### Find the longest full name (by number of words in it)

In [98]:
( df
 .reset_index()
 .get("Name")
 .apply(find_name_len)
 .max()
)

### Write a function that assigns an age group to a given age
* age less than 20 --> "young"
* age less than 30 --> "mid"
* age more than or equal 30 --> "old"

I am not saying 30 is old! :)

In [99]:
def assign_age_group(age):
    if age <= 20:
        return "young"
    elif age <= 30:
        return "mid"
    else:
        return "old"

In [100]:
assign_age_group(19)

In [101]:
assign_age_group(35)

### Add a new column to the table, which shows the age group of each player

In [102]:
new_col = df.get("Age").apply(assign_age_group)
df_new = df.assign(Age_Group = new_col)
df_new

# 7) Groupby Multiple Columns and look at statistics


**Pattern**:

`df.groupby([column_name1, column_name2]).func()
`
Where func is the aggrageting function

* There should always be an aggregating function. Otherwise we just get a groupby object.
* Don't forget to use reset_index() after grouping

### Get the number of players in each team and in each age group

In [103]:
df_new.groupby(["Team", "Age_Group"])

In [104]:
(df_new
 .groupby(["Team", "Age_Group"])
 .count()
)

In [105]:
df_groups = (df_new
 .groupby(["Team", "Age_Group"]) # When we groupby o=some columns, those columns become the index
 .count()
 .get(["Team", "Age_Group", "Games"])
)
df_groups

In [106]:
df_groups = (df_new
 .groupby(["Team", "Age_Group"])
 .count()
 .reset_index() # critical change here bc Age_Group was the old index!
 .get(["Team", "Age_Group", "Games"])
)
df_groups

# 8) Rename a column

**Pattern**: Store the column to be renamed, assign it to with a new column name, drop the column with the old name.

`new_col = df.get(old_column_name)
df = (df.assign(new_col_name = new_col).drop(columns = old_column_name))`

In [107]:
df_groups

### Rename the Games column to Player_Count

In [108]:
new_col = df_groups.get("Games")
df_groups = (df_groups
             .assign(Player_Count = new_col)
             .drop(columns = "Games")
            )
df_groups

# 9) Get all rows containing a string.

**Example** Find all players who have the word "James" somewhere in their full name.

**Pattern**

`bool_mask = df.get(column_of_strings).str.contains('James')
df[bool_mask]
`

### Filter the table so that only players with the substring "James" in their full name remain.

In [109]:
df = df.reset_index()

In [110]:
bool_mask = df.get("Name").str.contains("James")
df[bool_mask]

### Filter the table so that only players with the substring "gg" in their full name remain.

In [111]:
bool_mask = df.get("Name").str.contains("gg")
df[bool_mask]

### Only players with the substring "Reg" and substring "ie" in their full name remain.

In [112]:
mask1 = df.get("Name").str.contains("ie")
mask2 = df.get("Name").str.contains("Reg")
df[mask1 & mask2]

### Why did we have just 9 points instead of 10?

### Because we had 0 indexing :)

# Top 8 Possible Pitfalls & Things to Keep in Mind

## 0) Difference between & and "and"

Always use "and" with conditionals, always use & with boolean arrays.

In [113]:
True and False

In [114]:
np.array([True, False, True]) & np.array([False, False, False])

In [115]:
np.array([True, False, True]) and np.array([False, False, False]) # don't do this!

## 1) Parentheses when combining conditionals:

In [116]:
df[df.get("Age") >= 25 & df.get("Points") >= 2000]

In [117]:
df[(df.get("Age") >= 25) & (df.get("Points") >= 1800)]

## 2) Column names are meaningless after a `groupby` and count!

In [118]:
df.groupby("Team").count()

In [119]:
# Has no relation to the actual "Steals" and "Blocks" columns
df.groupby("Team").count().get(["Steals", "Blocks"])

## 3) Reset index, especially after grouping with multiple columns.

In [120]:
(df_new
 .groupby(["Team", "Age_Group"])
 .count()
 .reset_index()
)

## 4) `iloc[]` vs `loc[]` vs array indexing`[]`

In [121]:
# Before using loc, make sure of what type of index you have:
df.index

In [122]:
df = df.set_index("Name")

In [123]:
df.get("Age").loc["Stephen Curry"]

In [124]:
df.get("Age").iloc[2]

In [125]:
df.index[2]

## 5) Not specifying column while sorting table

Wrong: `df = df.sort_values(ascending = False)` 

Correct: `df = df.sort_values(by = column_name, ascending = False)`

## 6) Trying to get the index using .get() instead of .index

In [126]:
# df.get("Name")
df.index

# 7) Using df.drop with missing argument

`df.drop(columns = column_name)` without columns, for example `df.drop(column_name)` is wrong.

In [127]:
# df.drop("Points")
df.drop(columns = "Points")

In [128]:
grader.check_all()