In [1]:
%matplotlib inline

# Lecture 4: Queries and GroupBy

In [2]:
import babypandas as bpd

# NBA Salaries

- The file `nba_salaries.csv` contains all salaries from 2015-2016 NBA season.

In [3]:
salaries = bpd.read_csv('data/nba_salaries.csv').set_index('PLAYER')
salaries

## Questions we can answer:

- What was the biggest salary?
- How many players were there?
- What was LeBron James' salary?
- *Who* had the biggest salary?

## Questions we'll learn how to answer today:

- Who was the highest paid center?
- What is the total payroll of the Cleveland Cavaliers?
- What team had the largest combined salary?

# Selecting Rows

## Use Case: Who was the highest paid center (C)?

In [4]:
salaries

## Selecting Rows

- We could do it if we had a table consisting only of centers.
- But how do we get that table?

## The Solution

In [5]:
salaries[salaries.get('POSITION') == 'C']

In [6]:
'PG' == 'C'

In [7]:
'C' == 'C'

In [8]:
salaries.get('POSITION') == 'C'

## Boolean Indexing

To select only some rows of `salaries`:

1. Make a list/array/Series of `True`s (keep) and `Falses` (toss)
2. Then pass it into `salaries[]`.

Rather than making the list by hand, we usually make comparisons.

## Elementwise comparisons work as expected

In [9]:
salaries.get('2015_SALARY') > 5

In [10]:
#- make a table with only players who made more than 5 million

## Another example

In [11]:
#- get only the Cleveland Cavaliers

## When the conditions are not satisfied

In [12]:
salaries[salaries.get('TEAM') == 'San Diego Surfers']

## Use Case: Who was the highest paid center?

1. Extract a table of centers
2. Sort by salary
3. Return first thing in index

In [13]:
#- extract a table of centers
centers = ...
centers

In [14]:
#- sort and return first thing in index

## Discussion Question

What was the total payroll of the Cleveland Cavaliers?

- a) `salaries[salaries.get('TEAM') == 'Cleveland Cavaliers'].get('2015_SALARY').sum()`
- b) `salaries.get('2015_SALARY').sum()[salaries.get('TEAM') == 'Cleveland Cavaliers']`
- c) `salaries['Cleveland Cavaliers'].get('2015_SALARY').sum()`

## Answer: a)

In [15]:
cavs = ...
cavs

In [16]:
#- use series method .sum()
cavs.get('2015_SALARY').sum()

# GroupBy

## Use Case: What team had the highest payroll?

- We can find the payroll for one team.
- But how can we find the payroll for *all* teams at once?
- Can we somehow group the rows of the table by team name?

In [17]:
salaries

## `.groupby`

In [18]:
salaries.groupby('TEAM').sum()

## `.groupby`

1. Use `.groupby(column_name)` to gather rows which have the same value in the column
2. Apply an *aggregation* function *within* each group

The aggregation is applied to each column.

Some aggregation functions: `.count()`, `.sum()`, `.mean()`, `.median()`, `.max()`, `.min()`

In [19]:
salaries

## Interesting thing # 1

- The index has changed to team names.
- In general, the new row labels are the *group labels* (the thing that is used to determine if two rows were in same group).

In [20]:
salaries.groupby('TEAM').sum()

## Interesting thing #2

- The `POSITION` and `TEAM` columns have disappeared. Why?

In [21]:
salaries.groupby('TEAM').sum()

## Disappearing columns

- The aggregation function is applied to each column.
- If it doesn't make sense to apply it to a particular column, that column will disappear.
- Example: can't sum strings, like in `POSITION` column.
- Surprising example: *can* `max()` strings (alphabetically last)

In [22]:
salaries.groupby('TEAM').max()

## Use Case: What team has the highest payroll?

1. Group by team.
2. Within each group, compute total salary.
3. Sort by salary, descending order.
4. Take the name of the first team.

In [23]:
#- group, sum, sort, index

## Use Case: How many players play each position?

In [24]:
#- group, count
each_position = ...
each_position

## Better column names?

To rename a column

1. Add a new column with `.assign`
2. Drop the old column(s) with `.drop(by=list_of_column_labels)`

In [25]:
counts = ...
counts

In [26]:
counts.drop(columns=['TEAM', '2015_SALARY'])

# IMDB

In [27]:
imdb = bpd.read_csv('data/imdb.csv').set_index('Title')
imdb

## What was the highest rated movie of the 1990's?

In [28]:
#- group or select?

## How many movies appear from each decade?

In [30]:
imdb.groupby('Decade').count().plot(y='Year')

# Combining queries and groupby

### a.k.a, more challenging problems

## How many years have more than 3 movies rated above 8.5?

In [31]:
...

## Using `.sum()` on a boolean array

In [32]:
...

## Out of the years with more than 3 movies, which had the highest average rating?

In [33]:
...

## Which year had the longest movie titles, on average?

In [34]:
...

## What is the average rating of movies from years that had at least 3 movies in the list?