# Homework 3: Functions

## Due Friday, July 9th at 11:59pm

Welcome to Homework 3! This week, we will go over defining functions, histograms, and exploring data. You can find additional help on these topics in [Chapter 02](https://eldridgejm.github.io/dive_into_data_science/front.html) of the textbook.

### Instructions

This assignment is due Friday, July 9th at 11:59pm. You are given six slip days thoughout the quarter which can extend the deadline by one day. See the syllabus for more details. With the exception of using slip days, late work will not be accepted unless you have made special arrangements with your instructor.

**Important**: The `otter` tests don't usually tell you that your answer is correct. More often, they help catch careless mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach).

Remember that you may work in pairs for this assignment! If you work in a pair, you should submit one notebook to Gradescope for the both of you.

Directly sharing answers between groups is not okay, but discussing problems with the course staff or with other students is encouraged. 

You should start early so that you have time to get help if you're stuck. A calendar with lab hour times and locations appears on [the course webpage](http://dsc10.com).

In [1]:
# please don't change this cell, but do make sure to run it
import babypandas as bpd
import matplotlib.pyplot as plt
import numpy as np
import otter
grader = otter.Notebook()

## 1. Avocadopocalypse

**Question 1**. Question description.

In early 2017, reduced harvests and labor strikes caused avocado production in Mexico, Peru, and California to  dramatically decrease. In this problem we will investigate how and where prices fluctuated in response to the "avocadopocalypse".

The source of the avocado price data is [here](https://urldefense.com/v3/__http://www.hassavocadoboard.com/retail/volume-and-price-data__;!!Mih3wA!UQwVlo9PvACY7t4CCustkKZq0RfPE-hGk1xDpoo20dpsixLTa8OgXRoiGUehMic$ ). We will use a subset of the data. The data has the following columns:

|Column|Description|
|------|-----------|
|Date|The date on which a price was recorded in YEAR-MONTH format|
|Type|The type of avocado. Either "conventional" or "organic".|
|Region|Where the price was recorded.|
|Price|The average avocado price for that time period/location.|
|Volume|The number of avocados sold (in thousands).|

**Question 1.1.** The data are in a CSV called `avocado.csv`. Read this file into a table named `avocado`. There is not good columns to use as the index, so don't set one!

In [2]:
avocado = ...
avocado

In [ ]:
grader.check("q1_1")

It might look like the `Date` column would make a good index, but it turns out that its entries are not unique! We can see this using the `.describe()` method, which gives us some useful information about a column:

In [5]:
avocado.get('Date').describe()

We see that although there are 4134 entries, only 39 of them are unique. This is because the same date will appear once for each city in the data set.

**Question 1.2.** Assign `cheapest` to the date which had the cheapest avocados (of any type, and any region), and similarly assign `most_expensive` to the date with the most expensive avocados (of any type, and any region).

In [6]:
cheapest = ...
most_expensive = ...

In [ ]:
grader.check("q1_2")

**Question 1.3.** Avocado prices are fluctutating over the years. Make a table named `below_one` containing only the data where the price is **smaller than or equal to** `1.0`, and a table `above_two` containing only the data where the price is **greater than or equal to** `2.0`.

In [10]:
below_one = ...
above_two = ...

In [ ]:
grader.check("q1_3")

**Question 1.4.** Create a table named `ca_total` which contains one column, `Volume`. The `Volume` column should be equal to the total volume of avocados (organic + conventional) sold in the "California" region for each date. The index of your table should contain the dates.

*Hint*: if you do this right, you won't need to use `.set_index()` to make the date the row label.

In [16]:
ca_total = ...
ca_total

In [ ]:
grader.check("q1_4")

**Question 1.5.** Create a table named `mean_price` containing one column named `MeanPrice` containing the mean price of avocado sold on each date. Your table should have one row for each date, and the row label should be the date.

In [20]:
mean_price = ...
mean_price

In [ ]:
grader.check("q1_5")

**Question 1.6.** Plot the mean price of avocados in the entire US as a function of date. Does the data support the "avocadopocalypse"; that is, were prices higher in 2017? Describe how you could use the given data to investigate the *reason* that prices were higher.

<!-- BEGIN QUESTION -->

<!--
BEGIN QUESTION
name: q1_6
manual: true
-->

In [23]:
# Make your plot here. If you see a warning about FixedFormatter and FixedLocator, you can ignore it as long as the plot appears in a normal way.
...

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## 2. Power Outages

The dataset below contains information about power outages that occurred in North America between 2000 to 2014. The data is a subset of the data available [here](https://urldefense.com/v3/__https://www.kaggle.com/autunno/15-years-of-power-outages__;!!Mih3wA!UQwVlo9PvACY7t4CCustkKZq0RfPE-hGk1xDpoo20dpsixLTa8OgXRoiwcEkHHY$ ).  Run the next cell to load the data.

In [24]:
# just run this cell
power = bpd.read_csv("data/powerdata.csv")
power

**Question 2.1.** Find the proportion of all power outages that occured in the year 2014. Save your answer to the variable `outage_2014`.

In [25]:
outage_2014 = ...
outage_2014

In [ ]:
grader.check("q2_1")

**Question 2.2.** Make a horizontal bar chart showing the number of outages per NERC Region. Make sure that the bars are sorted from longest to shortest. You can learn more about what a NERC region is [here](https://www.nerc.com/Pages/default.aspx).

<!-- BEGIN QUESTION -->

<!--
BEGIN QUESTION
name: q2_2
manual: true
-->

In [28]:
#put your code here
...

<!-- END QUESTION -->



**Question 2.3.** Draw a histogram of the count of power outages by year.

<!-- BEGIN QUESTION -->

<!--
BEGIN QUESTION
name: q2_3
manual: true
-->

In [29]:
#put your code here
...

<!-- END QUESTION -->



**Question 2.4.** We notice that there is a spike in power outages in the year 2011. Let's explore some of the data of the outages in the year 2011. Create a table named `power_2011` which has one column, `Count`, which specifies the number of outages for each tag. The index should contain different tags.

In [30]:
power_2011 = ...
power_2011

In [ ]:
grader.check("q2_4")

**Question 2.5.** How many outages were there in California in 2013 that are caused by vandalism? Store all the outages satisfying such condition into `ca_outages`.

*Hint*: There are many geographic areas in California. For instance, "Central California" is one, "Northern California" is another.  
*Hint*: There are many types of vandalism. For instance, "Physical Attack" in `Event Description` is one type of vandalism, and "Vandalism" itself in `Event Description` is also considered a type of vandalism. There is easy way to get all of related records.

In [35]:
ca_outages = ...
ca_outages

In [ ]:
grader.check("q2_5")

## 3. Defining Functions

In this problem we'll define functions for working with coordinates.
A coordinate in 2-dimensional space is easily represented with a Python list of length two. For instance, the point $(1,3)$ can be represented as:

In [38]:
[1, 3]

**Question 3.1.** 

Define a function named `find_slope` that takes in two coordinates, [x1, y1] and [x2, y2], and returns the slope of the line connecting the two points. Assume x1 and x2 are not equal.

In [39]:
def find_slope(coordinate_1, coordinate_2):
    ...

In [ ]:
grader.check("q3_1")

**Question 3.2.** Define a function named `find_intercepts` that takes in two coordinates, [x1, y1] and [x2, y2], and returns the x-intercept and y-intercept of the line connecting the two points. Assume x1 and x2 are not equal and that y1 and y2 are not equal.

*Hint*: The `find_slope` function may help you.

In [42]:
def find_intercepts(coordinate_1, coordinate_2):
    ...
    return (x_intercept, y_intercept)

In [ ]:
grader.check("q3_2")

One of the simplest ways of predicting the future is to assume that change happens linearly. For instance, suppose a person's height at 10 years old is 48 inches, and their height at 14 years old is 53 inches. We can predict their height at 20 years of age by drawing a straight line between (10, 48) and (14, 53), and finding its value at x = 20.

**Question 3.3.** Define a function named `predict_heights` that takes in two coordinates [age_1, height_1] and [age_2, height_2] and the age to predict the person's height for. Return the predicted height. Assume age_1 and age_2 are not equal. Assume height_1 and height_2 are not equal.

In [47]:
def predict_heights(age_and_height_1, age_and_height_2, age_to_predict):
    ...

In [ ]:
grader.check("q3_3")

**Question 3.4.** Is this a good way of predicting heights? When might it give poor results?

<!-- BEGIN QUESTION -->

<!--
BEGIN QUESTION
name: q3_4
manual: true
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## 4. Olympic Medals

In this question, we will analyze data on Olympic athletes who won medals in the Winter Olympic Games from 1896-2014. You can find the data [here](https://www.kaggle.com/the-guardian/olympic-games#dictionary.csv)

The data is in a CSV file called `winter.csv`. Read this file into a table named `winter`. There is no good index, we will leave it unset.

In [51]:
winter_data = bpd.read_csv('data/winter.csv')
winter_data

The `Country` column contains International Olympic Committee (IOC) [country codes](https://olympics.fandom.com/wiki/List_of_IOC_country_codes). We want to convert these country codes into actual country names that everyone can understand.

We'll use a Python [dictionary](https://www.tutorialspoint.com/python/python_dictionary.htm) to help us with this conversion. A dictionary is a simple way to map a unique key to a value. For example, the below dictionary maps course codes to course names.

In [52]:
dsc_courses = {
    'DSC 10': 'Principles of Data Science',
    'DSC 20': 'Programming and Basic Data Structures for Data Science',
    'DSC 30': 'Data Structures and Algorithms for Data Science',
    'DSC 40A': 'Theoretical Foundations of Data Science I',
    'DSC 40B': 'Theoretical Foundations of Data Science II',
    'DSC 80': 'The Practice and Application of Data Science'
}

We can access the value corresponding to each key using bracket notation.

In [53]:
dsc10_name = dsc_courses['DSC 10']
dsc10_name

Here, `DSC 10` is the key and `Principles of Data Science` is the value.

Let's use a dictionary to help us with our country code to country name conversion. Below is a dictionary containing country codes as keys and country names as values for each of the countries in our dataset of Winter Olympic medal winners.

In [54]:
country_codes = {
 'USA': 'United States',
 'CAN': 'Canada',
 'NOR': 'Norway',
 'URS': 'Soviet Union',
 'FIN': 'Finland',
 'SWE': 'Sweden',
 'GER': 'Germany',
 'SUI': 'Switzerland',
 'AUT': 'Austria',
 'RUS': 'Russia',
 'ITA': 'Italy',
 'GDR': 'East Germany',
 'TCH': 'Czechoslovakia',
 'FRA': 'France',
 'NED': 'Netherlands',
 'FRG': 'West Germany',
 'KOR': 'Korea, South',
 'CHN': 'China',
 'GBR': 'United Kingdom',
 'CZE': 'Czech Republic',
 'JPN': 'Japan',
 'EUN': 'Unified Team',
 'POL': 'Poland',
 'EUA': 'United Team of Germany',
 'SLO': 'Slovenia',
 'AUS': 'Australia',
 'BLR': 'Belarus',
 'LAT': 'Latvia',
 'BEL': 'Belgium',
 'HUN': 'Hungary',
 'UKR': 'Ukraine',
 'CRO': 'Croatia',
 'LIE': 'Liechtenstein',
 'YUG': 'Yugoslavia',
 'EST': 'Estonia',
 'KAZ': 'Kazakhstan',
 'BUL': 'Bulgaria',
 'DEN': 'Denmark',
 'SVK': 'Slovakia',
 'ROU': 'Romania',
 'ESP': 'Spain',
 'PRK': 'Korea, North',
 'LUX': 'Luxembourg',
 'NZL': 'New Zealand',
 'UZB': 'Uzbekistan'}

**Question 4.1.** Using `country_codes`, define a function named `code_to_country` that takes as input a country code and returns the corresponding country name. (Should be only one line)

In [55]:
def code_to_country(code):
    ...

In [ ]:
grader.check("q4_1")

**Question 4.2.** Using your `code_to_country` function, use `.get(col).apply()` to convert all of the country codes into country names in the `Country` column. Do this without creating an additional column. Store your result in `winter`.

*Hint*: Is there a way to use the `.assign` method to *replace* values in these two columns without creating additional columns?

In [59]:
winter = ...
winter

In [ ]:
grader.check("q4_2")

**Question 4.3.** Define a function named `reformat_name` that returns the format of the name in the following way: <[FIRST NAME] [LAST NAME]>, with the only first letter capitalized. For instance, `BERTHET, G.` as an input will have an output of `G. Berthet`, while `JONES, Jenny` as an input will have an output of `Jenny Jones`. You should **NOT** assume that the names' *capitalization* always follow the pattern from the `winter` dataframe, where all letters for last name are capitalized and only the first letter for first name is capitalized. Also, in `winter` dataframe, some athletes do not provide a first name at all. If that is the case, there will not be a comma and a space after their last name. To handle these cases, use `<unk>` as their first name. For instance, an athlete whose provided name is `BENEDIC` will be `<unk> BENEDIC` after reformatting

*Hint:* Use the string function [`.split()`](https://docs.python.org/3/library/stdtypes.html#str.split). This is useful in splitting the name into a lastname and a firstname.

*Hint:* Use the string function [`.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower). This is useful in converting all letters in a string to the lowercase.

*Hint:* Use the string function [`.upper()`](https://docs.python.org/3/library/stdtypes.html#str.upper). This is useful in converting all letters in a string to the uppercase.

*Hint:* Notice that there is a space after the comma.

In [64]:
def reformat_name(name):
    ...

In [ ]:
grader.check("q4_3")

**Question 4.4.** Create a function named `mean_values` that takes as an input the name of a country and returns the mean full name length of the athletes from that country (that is, first name + space + last name. Do not worry if some athlete's first name is abbreviated or is missing and renamed as `<unk>`). 

*Hint:* use the previously defined function! If your tests for this question do not pass, it may be because your answer to the previous problem is not correct.

In [71]:
def mean_values(country):
    ...

In [ ]:
grader.check("q4_4")

**Question 4.5.** 
Create a table called `names` with original columns `Year`, `Sport`, `Athlete` and `Country` and new column `Name_Length` that has the length of the full name (first name + space + last name, using the same approach as above question), with the shortest name at the top and longest at bottom.

*Hint*: Remember that you can create intermediate variables. This is a good time to do so!

In [76]:
names = ...
names

In [ ]:
grader.check("q4_5")

**Question 4.6.** What is the length of the longest name? Assign this number to `longest_name_length`. What is the length of the shortest name? Assign this number to `shortest_name_length`. What is the length difference between the longest and shortest last name? Assign this number to `range_name_length`.

In [81]:
longest_name_length = ...
shortest_name_length = ...
range_name_length = ...
range_name_length

In [ ]:
grader.check("q4_6")

**Question 4.7.** Make a function called `point_total` that takes in a country name (string) and a year (int), and awards points based on olympic medals. The country gets 1 point for every bronze medal, 3 points for every silver and 5 for every gold.

In [88]:
def point_total(country, year):
    gold = ...
    silver = ...
    bronze = ...
    return gold + silver + bronze

In [ ]:
grader.check("q4_7")

**Question 4.8.** Among the five countries listed below, which has the highest point count in 2014 overall?:

1. United States
2. Russia
3. United Kingdom
4. China
5. France

Save the name of the country as `country` and the number of points as `points`. You can set the value of `country` and `points` by hand.

In [92]:
...
country = ...
points = ...

In [ ]:
grader.check("q4_8")

**Question 4.9.** Create a vertical bar chart of the mean full name length by country. Use your chart to answer the question: which country has the shortest mean full name length? Write your answer by hand by assigning the country code to `country_shortest_name`.

In [98]:
...
country_shortest_name = ...

In [ ]:
grader.check("q4_9")

## 5. Histograms

Suppose we have a table called `data` with two numerical columns, "x" and "y". Consider the following scatter plot, which was generated by calling `data.plot(kind='scatter', x='x', y='y')`:

![](data/scatter.png)

Now consider these two histograms:

**Histogram A**:

![](data/hist_one.png)

**Histogram B**:

![](data/hist_two.png)

**Question 5.1.** Which of these two lines of code generated Histogram B?
 1. `data.plot(kind='hist', y='x')`
 2. `data.plot(kind='hist', y='y')`  
 
 Which line generated Histogram B? Assign either `1` or `2` to `which_histogram`.

In [102]:
which_histogram = ...

In [ ]:
grader.check("q5_1")

**Question 5.2.** Suppose we run this line of code:

    new_data = bpd.DataFrame().assign(
        x = data.get('x') / 2,
        y = data.get('y')
    )
    
 We then run `new_data.plot(kind = 'hist', y='x')`. What does the new histogram look like (as opposed to `data.plot(kind = 'hist', y='x')` on the same scale)?

<!-- BEGIN QUESTION -->

<!--
BEGIN QUESTION
name: q5_2
manual: true
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



**Question 5.3.** According to the histograms above, approximately what percent of points in the scatterplot have an `y` value between 1 and 2 (inclusive)? Return the number (1 - 4) of the correct percentage listed below in the variable `y_between`.

1. 25
2. 33
3. 50
4. 100

In [105]:
y_between = ...

In [ ]:
grader.check("q5_3")

# Finish Line

To submit your assignment:

1. Select `Kernel -> Restart & Run All` to ensure that you have executed all cells, including the test cells.
2. Read through the notebook to make sure everything is fine and all tests passed.
3. Run the cell below to run all tests, and make sure that they all pass.
4. Download your notebook using `File -> Download as -> Notebook (.ipynb)`, then upload your notebook to Gradescope.

In [108]:
grader.check_all()