In [1]:
import babypandas as bpd

from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'width': 1024,
        'height': 768,
        'scroll': True,
})

{'width': 1024, 'height': 768, 'scroll': True}

# Lecture 3: Arrays and Tables

# How do we store *sequences*?

For instance:
- all temperatures in month of January
- the age of every user on Facebook
- the salary of every NBA player

## Each as own variable?

In [2]:
temperature_on_jan_01 = 68
temperature_on_jan_02 = 72
temperature_on_jan_03 = 65
temperature_on_jan_04 = 64
temperature_on_jan_05 = 62
temperature_on_jan_06 = 61
temperature_on_jan_07 = 59
temperature_on_jan_08 = 64
temperature_on_jan_09 = 64
temperature_on_jan_10 = 63
temperature_on_jan_11 = 65
temperature_on_jan_12 = 62

```
avg_temperature = 1/12 * (
    temperature_on_jan_01
    + temperature_on_jan_02
    + temperature_on_jan_03
    + ...)
```

## Python's `list`s

- To create a `list`, place commas between things and surround with square brackets:

In [3]:
temperature_list = [68, 72, 65, 64, 62, 61, 59, 64, 64, 63, 65, 62]
temperature_list

[68, 72, 65, 64, 62, 61, 59, 64, 64, 63, 65, 62]

In [4]:
temperature_list = [temperature_on_jan_01, 72, 65, temperature_on_jan_04, 62, 61, 59, 64, 64, 63, 65, 62]
temperature_list

[68, 72, 65, 64, 62, 61, 59, 64, 64, 63, 65, 62]

## `list`s make working with sequences easy

In [5]:
# compute the average temperature using `sum`
sum(temperature_list) / len(temperature_list)

64.08333333333333

## The Problem

- Lists are sloowwww
- Not a big deal when there aren't many entries
- A big problem when there are millions/billions of entries

# Arrays
* Like lists, but faster.
* Slightly less easy to work with.
* Provided by a package called `numpy`

In [6]:
import numpy as np

## Creating arrays

- To create an array, pass a list to the `np.array` function
- Remember the square brackets!

In [7]:
temperature_array = np.array([68, 72, 65, 64, 62, 61, 59, 64, 64, 63, 65, 62])
temperature_array

array([68, 72, 65, 64, 62, 61, 59, 64, 64, 63, 65, 62])

In [8]:
np.array(temperature_list)

array([68, 72, 65, 64, 62, 61, 59, 64, 64, 63, 65, 62])

## Accessing elements of arrays

- The things inside of an array are called its *elements*
- To get a particular element, use `[]`:

In [9]:
temperature_array

array([68, 72, 65, 64, 62, 61, 59, 64, 64, 63, 65, 62])

In [10]:
temperature_array[3]

64

## Warning!

- Python (like most languages) starts counting from 0, not 1!

In [11]:
# get the first element of the array
temperature_array[0]

68

## Out-of-bounds errors

In [12]:
temperature_array[42]

IndexError: index 42 is out of bounds for axis 0 with size 12

## Array/Number arithmetic

- `numpy` arrays make it easy to do the same thing to every element

In [13]:
temperature_array

array([68, 72, 65, 64, 62, 61, 59, 64, 64, 63, 65, 62])

In [14]:
# increase all temperatures by 3 degrees
temperature_array + 3

array([71, 75, 68, 67, 65, 64, 62, 67, 67, 66, 68, 65])

In [15]:
# halve all temperatures
temperature_array / 2

array([34. , 36. , 32.5, 32. , 31. , 30.5, 29.5, 32. , 32. , 31.5, 32.5,
       31. ])

In [16]:
# convert all temperatures to Celsius
(5/9) * (temperature_array - 32)

array([20.        , 22.22222222, 18.33333333, 17.77777778, 16.66666667,
       16.11111111, 15.        , 17.77777778, 17.77777778, 17.22222222,
       18.33333333, 16.66666667])

## Array/Array arithmetic

- two arrays of the same size can be added, subtracted, multiplied, etc.
- the arithmetic happens *elementwise*

In [17]:
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])

In [18]:
a1

array([1, 2, 3])

In [19]:
a2

array([4, 5, 6])

In [20]:
a1 + a2

array([5, 7, 9])

In [21]:
a1 - a2

array([-3, -3, -3])

In [22]:
a1 * a2

array([ 4, 10, 18])

## Arrays for basic statistics: newborn birth weight

In [23]:
#: four girls with weight in kg: g1 = 3.405, g2 = 3.207, g3 = 2.42, g4 = 3.984

g1 = 3.405 
g2 = 3.207
g3 = 2.42
g4 = 3.984

# average weight of a newborn girl (in kg): 3.3
girl_av_weight = 3.3

### Load the weights into an array of floats

In [24]:
weights_kg_g = np.array([g1, g2, g3, g4]) 

weights_kg_g

array([3.405, 3.207, 2.42 , 3.984])

### Calculate the deviation of weights from the average weight
* Subtracting a number from an array subtracts the number from each element.

In [25]:
weights_kg_g - girl_av_weight

array([ 0.105, -0.093, -0.88 ,  0.684])

### Convert the weights to pounds (2.2 kg/lb)

In [26]:
weights_lbs_g = weights_kg_g * 2.2
weights_lbs_g

array([7.491 , 7.0554, 5.324 , 8.7648])

### How many girls are recorded in the array?

- The function `len()` returns the length of an array (or list).

In [27]:
len(weights_lbs_g)

4

## Arrays for basic statistics: daily temperatures

### Below is an array of daily high temperatures in San Diego from August 2018

In [28]:
temps = np.array([86, 85, 85, 84, 85, 86, 91, 89, 90, 88, 88, 85, 83, 82, 79, 81, 82,
                   83, 82, 79, 81, 83, 83, 79, 80, 80, 79, 80, 82, 82, 80])

Numbers of days temperatures are collected in August:

In [29]:
len(temps)

31

### temperature statistics (mean, min, max)

- Arrays have handy methods for common tasks

In [30]:
temps.sum() / len(temps)  # SOLUTION

83.29032258064517

In [31]:
temps.mean() # build the mean method

83.29032258064517

In [32]:
max(temps) # builtin functions work on array

91

In [33]:
temps.max() # the array has it's own min/max method (faster)

91

# Ranges

- We often find ourselves needing to make arrays like this:

In [34]:
days_in_january = np.array([
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 
    13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 
    23, 24, 25, 26, 27, 28, 29, 30, 31
])

# Ranges
* A range is an array of consecutive numbers
* ```np.arange(end)```: An array of increasing integers from 0 up to (and excluding!) end
* ```np.arange(start, end)```: An array of increasing integers from start up to (excluding!) end
* ```np.arange(start, end, step)```: A range with step between consecutive values
* The range always includes start but excludes end (i.e. a half-open interval)

In [35]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [36]:
np.arange(3, 9)

array([3, 4, 5, 6, 7, 8])

In [37]:
np.arange(3, 30, 5)

array([ 3,  8, 13, 18, 23, 28])

In [38]:
np.arange(-3, 2, 0.5)

array([-3. , -2.5, -2. , -1.5, -1. , -0.5,  0. ,  0.5,  1. ,  1.5])

In [39]:
np.arange(1, -3)

array([], dtype=int64)

## Discussion Question

On the first day of January, you are paid 1 cent. Every day thereafter, your pay doubles: on the 2nd day it is 2 cents, on the 3rd it is 4 cents, on the 4th it is 8 cents, and so on.

January has 31 days.

Which of these expressions calculates the total amount of money you'll make in January (in dollars)?

- A) `(2**(np.arange(31) * .01)).sum()`
- B) `(2**(np.arange(32) * .01)).sum()`
- C) `((2**np.arange(31)) * .01).sum()`
- D) `((2**np.arange(32)) * .01).sum()`

_Type your answer here, replacing this text._

**Solution**: (C)

In [40]:
np.arange(31) # SOLUTION

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [41]:
2**np.arange(31) # SOLUTION

array([         1,          2,          4,          8,         16,
               32,         64,        128,        256,        512,
             1024,       2048,       4096,       8192,      16384,
            32768,      65536,     131072,     262144,     524288,
          1048576,    2097152,    4194304,    8388608,   16777216,
         33554432,   67108864,  134217728,  268435456,  536870912,
       1073741824])

In [42]:
2**np.arange(31) * .01 # SOLUTION

array([1.00000000e-02, 2.00000000e-02, 4.00000000e-02, 8.00000000e-02,
       1.60000000e-01, 3.20000000e-01, 6.40000000e-01, 1.28000000e+00,
       2.56000000e+00, 5.12000000e+00, 1.02400000e+01, 2.04800000e+01,
       4.09600000e+01, 8.19200000e+01, 1.63840000e+02, 3.27680000e+02,
       6.55360000e+02, 1.31072000e+03, 2.62144000e+03, 5.24288000e+03,
       1.04857600e+04, 2.09715200e+04, 4.19430400e+04, 8.38860800e+04,
       1.67772160e+05, 3.35544320e+05, 6.71088640e+05, 1.34217728e+06,
       2.68435456e+06, 5.36870912e+06, 1.07374182e+07])

## (Optional) Speed Comparison, list vs array

In [43]:
n = 1_000_000
lst = list(range(n))
arr = np.arange(n)

In [54]:
sum(lst)

499999500000

In [55]:
arr.sum()

499999500000

In [56]:
%%timeit
_ = sum(lst)

7.17 ms ± 150 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [57]:
%%timeit 
_ = arr.sum()

534 µs ± 14.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [100]:
# compute ratio
(534e-6) / (7.17e-3) # SOLUTION

0.07447698744769873

# Tables

<img width=75% src="./data/imdb.png"/>

## How do we store *tabular data*?

- Could have an array for title, another for rating, another for year, etc.
- But this is not convenient.
- Instead, we use something called a *DataFrame*

In [59]:
bpd.read_csv('data/imdb.csv')

       Votes  Rating                                  Title  Year  Decade
0      88355     8.4                                      M  1931    1930
1     132823     8.3                    Singin' in the Rain  1952    1950
2      74178     8.3                          All About Eve  1950    1950
3     635139     8.6                                   Léon  1994    1990
4     145514     8.2                       The Elephant Man  1980    1980
..       ...     ...                                    ...   ...     ...
245  1078416     8.7                           Forrest Gump  1994    1990
246    31003     8.1                  Le salaire de la peur  1953    1950
247   167076     8.2                               3 Idiots  2009    2000
248    91689     8.1                                Network  1976    1970
249   589477     8.3  Eternal Sunshine of the Spotless Mind  2004    2000

[250 rows x 5 columns]

## `pandas`

- DataFrames are provided by a package called `pandas`
- `pandas` is *the* tool for doing data science in Python
    - downloaded $380,000$ times *yesterday*
    - last month: 14 million downloads

## But `pandas` is not so cute...

<img height=100% src="./data/angrypanda.jpg"/>

## Instead

- We at UCSD have created a smaller, nicer version of `pandas`
- Keeps important stuff, throws out the rest.
- Easier to learn, but is still valid `pandas` code.

## We call it `babypandas`

<img height=75% src="./data/babypanda.jpg"/>

## Importing `babypandas`

In [60]:
import babypandas as bpd

## Table Structure

- Tables have *columns* and *rows*
- Can think of each column as an array
- Every column has a label: "Votes", "Rating", etc.
- Every row does too: 0, 1, 2, 3

In [61]:
movies = bpd.read_csv('data/imdb.csv').take(np.arange(4))
movies

    Votes  Rating                Title  Year  Decade
0   88355     8.4                    M  1931    1930
1  132823     8.3  Singin' in the Rain  1952    1950
2   74178     8.3        All About Eve  1950    1950
3  635139     8.6                 Léon  1994    1990

## The Index

- Together, the row labels are called the *index*.
- It's not a separate column!

In [62]:
movies

    Votes  Rating                Title  Year  Decade
0   88355     8.4                    M  1931    1930
1  132823     8.3  Singin' in the Rain  1952    1950
2   74178     8.3        All About Eve  1950    1950
3  635139     8.6                 Léon  1994    1990

## Setting a new index

- Can set a better index using `.set_index(column_name)`
- Row labels should (ideally) be unique identifiers.
- Returns a copy!
- Looks nicer, but also really useful.

In [63]:
movies_by_name = movies.set_index('Title')
movies_by_name

                      Votes  Rating  Year  Decade
Title
M                     88355     8.4  1931    1930
Singin' in the Rain  132823     8.3  1952    1950
All About Eve         74178     8.3  1950    1950
Léon                 635139     8.6  1994    1990

## The index is an array

In [64]:
movies_by_name

                      Votes  Rating  Year  Decade
Title
M                     88355     8.4  1931    1930
Singin' in the Rain  132823     8.3  1952    1950
All About Eve         74178     8.3  1950    1950
Léon                 635139     8.6  1994    1990

In [65]:
movies_by_name.index

Index(['M', 'Singin' in the Rain', 'All About Eve', 'Léon'], dtype='object', name='Title')

## Discussion Question

Which of these will return `Léon`?

- A) `movies_by_name['Title'][3]`
- B) `movies_by_name['Title'][4]`
- C) `movies_by_name.index[3]`
- D) `movies_by_name.index[4]`

_Type your answer here, replacing this text._

**Solution**: (C)

In [101]:
movies_by_name.index[3] # SOLUTION

'Léon'

# NBA Salaries

- The file `nba_salaries.csv` contains all salaries from 2015-2016 NBA season.
- CSV: *Comma-separated values*

In [69]:
print(open('data/nba_salaries.csv').read())

PLAYER,POSITION,TEAM,2015_SALARY
Paul Millsap,PF,Atlanta Hawks,18.671659
Al Horford,C,Atlanta Hawks,12.0
Tiago Splitter,C,Atlanta Hawks,9.75625
Jeff Teague,PG,Atlanta Hawks,8.0
Kyle Korver,SG,Atlanta Hawks,5.746479
Thabo Sefolosha,SF,Atlanta Hawks,4.0
Mike Scott,PF,Atlanta Hawks,3.333333
Kent Bazemore,SF,Atlanta Hawks,2.0
Dennis Schroder,PG,Atlanta Hawks,1.7634
Tim Hardaway Jr.,SG,Atlanta Hawks,1.3045200000000001
Walter Tavares,C,Atlanta Hawks,1.0
Jason Richardson,SG,Atlanta Hawks,0.947276
Lamar Patterson,SG,Atlanta Hawks,0.525093
Terran Petteway,SG,Atlanta Hawks,0.525093
Avery Bradley,PG,Boston Celtics,7.730337
Isaiah Thomas,PG,Boston Celtics,6.912869000000001
Jae Crowder,SF,Boston Celtics,6.796117
Jonas Jerebko,PF,Boston Celtics,5.0
Marcus Smart,PG,Boston Celtics,3.4310400000000003
Evan Turner,SG,Boston Celtics,3.42551
Tyler Zeller,C,Boston Celtics,2.616975
Jared Sullinger,C,Boston Celtics,2.56926
Kelly Olynyk,C,Boston Celtics,2.1651599999999998
Perry Jones,SF,Boston Celtics,2.038206
Terry Rozier,PG,Boston Celtics,1.8243599999999998
James Young,SG,Boston Celtics,1.74984
Zoran Dragic,SG,Boston Celtics,1.706225
Jordan Mickey,PF,Boston Celtics,1.17096
R.J. Hunter,SG,Boston Celtics,1.1486399999999999
Joe Johnson,SF,Brooklyn Nets,24.894863
Thaddeus Young,PF,Brooklyn Nets,11.235955
Jarrett Jack,PG,Brooklyn Nets,6.3
Bojan Bogdanovic,SG,Brooklyn Nets,3.42551
Sergey Karasev,SG,Brooklyn Nets,1.59984
Wayne Ellington,SG,Brooklyn Nets,1.5
Shane Larkin,PG,Brooklyn Nets,1.5
Andrea Bargnani,C,Brooklyn Nets,1.362897
Rondae Hollis-Jefferson,SG,Brooklyn Nets,1.33548
Earl Clark,SF,Brooklyn Nets,1.185784
Chris McCullough,PF,Brooklyn Nets,1.14024
Thomas Robinson,PF,Brooklyn Nets,0.981348
Markel Brown,SG,Brooklyn Nets,0.845059
Al Jefferson,C,Charlotte Hornets,13.5
Nicolas Batum,SG,Charlotte Hornets,13.125306
Kemba Walker,PG,Charlotte Hornets,12.0
Marvin Williams,PF,Charlotte Hornets,7.0
Michael Kidd-Gilchrist,SF,Charlotte Hornets,6.331404
Spencer Hawes,PF,Charlotte Hornets,6.110034
Courtney Lee,SG,Charlotte Hornets,5.675
Cody Zeller,C,Charlotte Hornets,4.2042
Jeremy Lamb,SG,Charlotte Hornets,3.0343560000000003
Brian Roberts,PG,Charlotte Hornets,2.85494
Frank Kaminsky III,C,Charlotte Hornets,2.61252
Jeremy Lin,PG,Charlotte Hornets,2.1390000000000002
P.J. Hairston,SF,Charlotte Hornets,1.20144
Damien Wilkins,SG,Charlotte Hornets,0.947276
Jorge Gutierrez,PG,Charlotte Hornets,0.947276
Tyler Hansbrough,PF,Charlotte Hornets,0.947276
Troy Daniels,SG,Charlotte Hornets,0.947276
Aaron Harrison,SG,Charlotte Hornets,0.525093
Derrick Rose,PG,Chicago Bulls,20.093064000000002
Jimmy Butler,SG,Chicago Bulls,16.4075
Joakim Noah,C,Chicago Bulls,13.4
Pau Gasol,C,Chicago Bulls,7.448760000000001
Nikola Mirotic,PF,Chicago Bulls,5.543725
Mike Dunleavy,SG,Chicago Bulls,4.5
Kirk Hinrich,SG,Chicago Bulls,2.85494
Doug McDermott,SF,Chicago Bulls,2.38044
Aaron Brooks,PG,Chicago Bulls,2.25
Tony Snell,SF,Chicago Bulls,1.53588
Bobby Portis,PF,Chicago Bulls,1.39116
E'Twaun Moore,SG,Chicago Bulls,1.015421
LeBron James,SF,Cleveland Cavaliers,22.9705
Kevin Love,PF,Cleveland Cavaliers,19.689
Kyrie Irving,PG,Cleveland Cavaliers,16.407501
Tristan Thompson,C,Cleveland Cavaliers,14.26087
Brendan Haywood,C,Cleveland Cavaliers,10.5225
Iman Shumpert,SG,Cleveland Cavaliers,8.988764999999999
Timofey Mozgov,C,Cleveland Cavaliers,4.95
Mo Williams,PG,Cleveland Cavaliers,2.1
Sasha Kaun,C,Cleveland Cavaliers,1.276
Matthew Dellavedova,PG,Cleveland Cavaliers,1.147276
David Lee,PF,Dallas Mavericks,15.49368
Chandler Parsons,SF,Dallas Mavericks,15.3615
Dirk Nowitzki,PF,Dallas Mavericks,8.333333999999999
Deron Williams,PG,Dallas Mavericks,5.3789739999999995
Zaza Pachulia,C,Dallas Mavericks,5.2
J.J. Barea,PG,Dallas Mavericks,4.29
Devin Harris,PG,Dallas Mavericks,4.053446
Raymond Felton,PG,Dallas Mavericks,3.9503129999999995
Justin Anderson,SG,Dallas Mavericks,1.449
JaVale McGee,C,Dallas Mavericks,1.270964
John Jenkins,SG,Dallas Mavericks,0.981348
Danilo Gallinari,SF,Denver Nuggets,14.0
Kenneth Faried,PF,Denver Nuggets,11.235955
Wilson Chandler,SF,Denver Nuggets,10.449438
JJ Hickson,C,Denver Nuggets,5.6135
Jameer Nelson,PG,Denver Nuggets,4.345
Will Barton,SF,Denver Nuggets,3.5333330000000003
Emmanuel Mudiay,PG,Denver Nuggets,3.10224
Darrell Arthur,PF,Denver Nuggets,2.8139999999999996
Jusuf Nurkic,C,Denver Nuggets,1.8419999999999999
Joffrey Lauvergne,C,Denver Nuggets,1.7097189999999998
Gary Harris,SG,Denver Nuggets,1.5844799999999999
Nikola Jokic,C,Denver Nuggets,1.3
Kostas Papanikolaou,SF,Denver Nuggets,0.800321
Sean Kilpatrick,SG,Denver Nuggets,0.09941799999999999
Reggie Jackson,PG,Detroit Pistons,13.913044000000001
Aron Baynes,C,Detroit Pistons,6.5
Jodie Meeks,SG,Detroit Pistons,6.27
Andre Drummond,C,Detroit Pistons,3.272091
Kentavious Caldwell-Pope,SG,Detroit Pistons,2.8917599999999997
Stanley Johnson,SF,Detroit Pistons,2.84196
Joel Anthony,C,Detroit Pistons,2.5
Danny Granger,SF,Detroit Pistons,2.170465
Reggie Bullock,SF,Detroit Pistons,1.25244
Darrun Hilliard,SF,Detroit Pistons,0.6
Klay Thompson,SG,Golden State Warriors,15.501
Draymond Green,PF,Golden State Warriors,14.26087
Andrew Bogut,C,Golden State Warriors,13.8
Andre Iguodala,SF,Golden State Warriors,11.710456
Stephen Curry,PG,Golden State Warriors,11.370786
Jason Thompson,PF,Golden State Warriors,7.008475
Shaun Livingston,PG,Golden State Warriors,5.543725
Harrison Barnes,SF,Golden State Warriors,3.8733980000000003
Marreese Speights,C,Golden State Warriors,3.815
Leandro Barbosa,SG,Golden State Warriors,2.5
Festus Ezeli,C,Golden State Warriors,2.0087479999999998
Brandon Rush,SF,Golden State Warriors,1.270964
Kevon Looney,SF,Golden State Warriors,1.13196
Anderson Varejao,PF,Golden State Warriors,0.28975500000000004
Dwight Howard,C,Houston Rockets,22.359364000000003
James Harden,SG,Houston Rockets,15.756438000000001
Ty Lawson,PG,Houston Rockets,12.404494999999999
Corey Brewer,SG,Houston Rockets,8.229375
Trevor Ariza,SF,Houston Rockets,8.19303
Patrick Beverley,PG,Houston Rockets,6.486486
K.J. McDaniels,SG,Houston Rockets,3.189794
Terrence Jones,PF,Houston Rockets,2.48953
Donatas Motiejunas,PF,Houston Rockets,2.288205
Sam Dekker,SF,Houston Rockets,1.6464
Clint Capela,PF,Houston Rockets,1.24272
Montrezl Harrell,PF,Houston Rockets,1.0
Paul George,SF,Indiana Pacers,17.120106
Monta Ellis,SG,Indiana Pacers,10.3
Rodney Stuckey,PG,Indiana Pacers,7.0
Chase Budinger,SF,Indiana Pacers,5.0
C.J. Miles,SF,Indiana Pacers,4.394225
Lavoy Allen,PF,Indiana Pacers,4.05
Jordan Hill,C,Indiana Pacers,4.0
Ian Mahinmi,C,Indiana Pacers,4.0
Myles Turner,PF,Indiana Pacers,2.35776
Solomon Hill,SF,Indiana Pacers,1.3588799999999999
Glenn Robinson III,SG,Indiana Pacers,1.1
Rakeem Christmas,PF,Indiana Pacers,1.007026
Joe Young,PG,Indiana Pacers,1.007026
Chris Paul,PG,Los Angeles Clippers,21.468695
Blake Griffin,PF,Los Angeles Clippers,18.907726
J.J. Redick,SG,Los Angeles Clippers,7.085
Jamal Crawford,SG,Los Angeles Clippers,5.675
Paul Pierce,SF,Los Angeles Clippers,3.3760000000000003
Austin Rivers,PG,Los Angeles Clippers,3.110796
C.J. Wilcox,SG,Los Angeles Clippers,1.1596799999999998
Cole Aldrich,C,Los Angeles Clippers,1.100602
Wesley Johnson,SF,Los Angeles Clippers,1.100602
Jordan Hamilton,SG,Los Angeles Clippers,1.015421
Lester Hudson,SG,Los Angeles Clippers,1.015421
Pablo Prigioni,PG,Los Angeles Clippers,0.9477260000000001
Jeff Ayres,PF,Los Angeles Clippers,0.111444
Kobe Bryant,SF,Los Angeles Lakers,25.0
Roy Hibbert,C,Los Angeles Lakers,15.592217000000002
Louis Williams,SG,Los Angeles Lakers,7.0
Nick Young,SF,Los Angeles Lakers,5.219169
D'Angelo Russell,PG,Los Angeles Lakers,5.10312
Julius Randle,PF,Los Angeles Lakers,3.1322400000000004
Brandon Bass,PF,Los Angeles Lakers,3.0
Ryan Kelly,PF,Los Angeles Lakers,1.72425
Larry Nance Jr.,PF,Los Angeles Lakers,1.1556
Robert Sacre,C,Los Angeles Lakers,0.981348
Anthony Brown,SF,Los Angeles Lakers,0.7
Marc Gasol,C,Memphis Grizzlies,19.688
Zach Randolph,PF,Memphis Grizzlies,9.638555
Mike Conley,PG,Memphis Grizzlies,9.588426
Jeff Green,SF,Memphis Grizzlies,9.45
Lance Stephenson,SF,Memphis Grizzlies,9.0
Brandan Wright,PF,Memphis Grizzlies,5.4639999999999995
Tony Allen,SG,Memphis Grizzlies,5.158539
Chris Andersen,PF,Memphis Grizzlies,5.0
Mario Chalmers,PG,Memphis Grizzlies,4.3
Vince Carter,SG,Memphis Grizzlies,4.088019
Matt Barnes,SF,Memphis Grizzlies,3.5425
Beno Udrih,PG,Memphis Grizzlies,2.170465
Jordan Adams,SG,Memphis Grizzlies,1.4046
Jarell Martin,PF,Memphis Grizzlies,1.23084
JaMychal Green,PF,Memphis Grizzlies,0.845059
Russ Smith,PG,Memphis Grizzlies,0.845059
James Ennis,SF,Memphis Grizzlies,0.845059
Jarnell Stokes,PF,Memphis Grizzlies,0.845059
Jarrid Famous,PF,Memphis Grizzlies,0.525093
Ryan Hollins,C,Memphis Grizzlies,0.111444
Elliot Williams,SG,Memphis Grizzlies,0.055722
Chris Bosh,PF,Miami Heat,22.192729999999997
Dwyane Wade,SG,Miami Heat,20.0
Goran Dragic,PG,Miami Heat,14.783
Luol Deng,SF,Miami Heat,10.151612
Josh McRoberts,PF,Miami Heat,5.543725
Udonis Haslem,PF,Miami Heat,2.85494
Justise Winslow,SF,Miami Heat,2.48172
Henry Walker,SF,Miami Heat,1.100602
Tyler Johnson,SG,Miami Heat,0.845059
Greg Whittington,SF,Miami Heat,0.525093
Josh Richardson,SG,Miami Heat,0.525093
Corey Hawkins,PG,Miami Heat,0.525093
Khris Middleton,SG,Milwaukee Bucks,14.7
O.J. Mayo,SG,Milwaukee Bucks,8.0
Greivis Vasquez,PG,Milwaukee Bucks,6.6
Jabari Parker,PF,Milwaukee Bucks,5.15244
Jerryd Bayless,PG,Milwaukee Bucks,3.0
John Henson,PF,Milwaukee Bucks,2.943221
Michael Carter-Williams,PG,Milwaukee Bucks,2.3990400000000003
Miles Plumlee,C,Milwaukee Bucks,2.109294
Giannis Antetokounmpo,SF,Milwaukee Bucks,1.95396
Rashad Vaughn,SG,Milwaukee Bucks,1.7330400000000001
Tyler Ennis,PG,Milwaukee Bucks,1.6623599999999998
Chris Copeland,SF,Milwaukee Bucks,1.15
Damien Inglis,SF,Milwaukee Bucks,0.855
Ricky Rubio,PG,Minnesota Timberwolves,12.7
Nikola Pekovic,C,Minnesota Timberwolves,12.1
Kevin Garnett,PF,Minnesota Timberwolves,8.5
Kevin Martin,SG,Minnesota Timberwolves,7.085
Andrew Wiggins,SG,Minnesota Timberwolves,5.75868
Karl-Anthony Towns,C,Minnesota Timberwolves,5.7036
Nemanja Bjelica,PF,Minnesota Timberwolves,3.9500010000000003
Zach LaVine,PG,Minnesota Timberwolves,2.14836
Shabazz Muhammad,SF,Minnesota Timberwolves,2.05692
Adreian Payne,PF,Minnesota Timberwolves,1.9388400000000001
Gorgui Dieng,C,Minnesota Timberwolves,1.47444
Tyus Jones,PG,Minnesota Timberwolves,1.2820799999999999
Damjan Rudez,SF,Minnesota Timberwolves,1.1495
Eric Gordon,SG,New Orleans Pelicans,15.514031
Tyreke Evans,SG,New Orleans Pelicans,10.734586
Jrue Holiday,PG,New Orleans Pelicans,10.595507000000001
Omer Asik,C,New Orleans Pelicans,9.213483
Ryan Anderson,PF,New Orleans Pelicans,8.5
Anthony Davis,PF,New Orleans Pelicans,7.07073
Alexis Ajinca,C,New Orleans Pelicans,4.389607
Quincy Pondexter,SF,New Orleans Pelicans,3.3820230000000002
Norris Cole,PG,New Orleans Pelicans,3.036927
Dante Cunningham,PF,New Orleans Pelicans,2.85
Alonzo Gee,SF,New Orleans Pelicans,1.32
Toney Douglas,PG,New Orleans Pelicans,1.164858
Luke Babbitt,SF,New Orleans Pelicans,1.100602
Kendrick Perkins,C,New Orleans Pelicans,0.947276
Bo McCalebb,PG,New Orleans Pelicans,0.525093
Bryce Dejean-Jones,SG,New Orleans Pelicans,0.169883
Carmelo Anthony,SF,New York Knicks,22.875
Robin Lopez,C,New York Knicks,12.65
Arron Afflalo,SG,New York Knicks,8.0
Jose Calderon,PG,New York Knicks,7.402812
Kristaps Porzingis,PF,New York Knicks,4.13172
Derrick Williams,PF,New York Knicks,4.0
Kyle O'Quinn,PF,New York Knicks,3.75
Lance Thomas,SF,New York Knicks,1.636842
Lou Amundson,PF,New York Knicks,1.635476
Jerian Grant,PG,New York Knicks,1.57236
Jimmer Fredette,PG,New York Knicks,0.8748370000000001
Langston Galloway,SG,New York Knicks,0.845059
Thanasis Antetokounmpo,SF,New York Knicks,0.030888
Kevin Durant,SF,Oklahoma City Thunder,20.158622
Russell Westbrook,PG,Oklahoma City Thunder,16.744218
Enes Kanter,C,Oklahoma City Thunder,16.4075
Serge Ibaka,PF,Oklahoma City Thunder,12.25
Dion Waiters,SG,Oklahoma City Thunder,5.1384300000000005
Kyle Singler,SF,Oklahoma City Thunder,4.5
Nick Collison,PF,Oklahoma City Thunder,3.75
Anthony Morrow,SG,Oklahoma City Thunder,3.344
Randy Foye,SG,Oklahoma City Thunder,3.135
D.J. Augustin,PG,Oklahoma City Thunder,3.0
Steven Adams,C,Oklahoma City Thunder,2.27904
Cameron Payne,PG,Oklahoma City Thunder,2.02152
Mitch McGary,PF,Oklahoma City Thunder,1.46304
Andre Roberson,SG,Oklahoma City Thunder,1.2108
Josh Huestis,SF,Oklahoma City Thunder,1.14024
Steve Novak,SF,Oklahoma City Thunder,0.28975500000000004
Tobias Harris,SF,Orlando Magic,16.0
Nikola Vucevic,C,Orlando Magic,11.25
Brandon Jennings,PG,Orlando Magic,8.344497
Channing Frye,PF,Orlando Magic,8.193029
Ersan Ilyasova,PF,Orlando Magic,7.9
Victor Oladipo,SG,Orlando Magic,5.19252
Jason Smith,PF,Orlando Magic,4.3
Aaron Gordon,PF,Orlando Magic,4.17168
Mario Hezonja,SG,Orlando Magic,3.74148
Elfrid Payton,PG,Orlando Magic,2.50572
Andrew Nicholson,PF,Orlando Magic,2.380593
Evan Fournier,SG,Orlando Magic,2.288205
Shabazz Napier,PG,Orlando Magic,1.29444
Keith Appling,PG,Orlando Magic,0.061776
Gerald Wallace,SF,Philadelphia 76ers,10.105855
Carl Landry,PF,Philadelphia 76ers,6.5
Joel Embiid,C,Philadelphia 76ers,4.6269599999999995
Jahlil Okafor,C,Philadelphia 76ers,4.58268
Nerlens Noel,PF,Philadelphia 76ers,3.4578
Nik Stauskas,SG,Philadelphia 76ers,2.86944
Furkan Aldemir,PF,Philadelphia 76ers,2.836768
Tony Wroten,SG,Philadelphia 76ers,2.179353
Kendall Marshall,PG,Philadelphia 76ers,2.144772
Richaun Holmes,PF,Philadelphia 76ers,1.0741690000000002
Robert Covington,SF,Philadelphia 76ers,1.0
Jerami Grant,SF,Philadelphia 76ers,0.845059
JaKarr Sampson,SG,Philadelphia 76ers,0.25848899999999997
Eric Bledsoe,PG,Phoenix Suns,13.5
Tyson Chandler,C,Phoenix Suns,13.0
Mirza Teletovic,PF,Phoenix Suns,5.5
P.J. Tucker,SF,Phoenix Suns,5.5
Alex Len,C,Phoenix Suns,3.80712
Devin Booker,SG,Phoenix Suns,2.12784
T.J. Warren,SF,Phoenix Suns,2.04108
Archie Goodwin,SG,Phoenix Suns,1.16016
Jon Leuer,PF,Phoenix Suns,1.035
Jerel McNeal,SG,Phoenix Suns,0.981348
Terrico White,SG,Phoenix Suns,0.845059
Bryce Cotton,PG,Phoenix Suns,0.700902
Lorenzo Brown,PG,Phoenix Suns,0.111444
Orlando Johnson,SG,Phoenix Suns,0.055722
Phil Pressey,PG,Phoenix Suns,0.055722
Jordan McRae,SG,Phoenix Suns,0.049708999999999996
Cory Jefferson,PF,Phoenix Suns,0.049708999999999996
Al-Farouq Aminu,SF,Portland Trail Blazers,8.042895
Ed Davis,C,Portland Trail Blazers,6.980802000000001
Gerald Henderson,SG,Portland Trail Blazers,6.0
Chris Kaman,C,Portland Trail Blazers,5.016
Damian Lillard,PG,Portland Trail Blazers,4.236287
Meyers Leonard,PF,Portland Trail Blazers,3.0758799999999997
Maurice Harkless,SF,Portland Trail Blazers,2.894059
Noah Vonleh,PF,Portland Trail Blazers,2.6377200000000003
C.J. McCollum,SG,Portland Trail Blazers,2.52516
Mason Plumlee,C,Portland Trail Blazers,1.4155200000000001
Allen Crabbe,SG,Portland Trail Blazers,0.947276
Pat Connaughton,SG,Portland Trail Blazers,0.625093
Luis Montero,SG,Portland Trail Blazers,0.525093
Cliff Alexander,PF,Portland Trail Blazers,0.525093
DeMarcus Cousins,C,Sacramento Kings,15.85195
Rudy Gay,SF,Sacramento Kings,12.403101
Rajon Rondo,PG,Sacramento Kings,9.5
Kosta Koufos,C,Sacramento Kings,7.7
Marco Belinelli,SG,Sacramento Kings,6.060606
Darren Collison,PG,Sacramento Kings,5.013559
Willie Cauley-Stein,C,Sacramento Kings,3.39828
Ben McLemore,SG,Sacramento Kings,3.1566
Omri Casspi,SF,Sacramento Kings,2.836186
Caron Butler,SF,Sacramento Kings,1.449187
James Anderson,SG,Sacramento Kings,1.015421
LaMarcus Aldridge,PF,San Antonio Spurs,19.689
Kawhi Leonard,SF,San Antonio Spurs,16.4075
Tony Parker,PG,San Antonio Spurs,13.4375
Danny Green,SG,San Antonio Spurs,10.0
Boris Diaw,C,San Antonio Spurs,7.5
Tim Duncan,C,San Antonio Spurs,5.25
Patty Mills,PG,San Antonio Spurs,3.5789470000000003
Manu Ginobili,SG,San Antonio Spurs,2.8139999999999996
David West,PF,San Antonio Spurs,1.499187
Boban Marjanovic,C,San Antonio Spurs,1.2
Reggie Williams,SF,San Antonio Spurs,1.185784
Kyle Anderson,SF,San Antonio Spurs,1.14288
Ray McCallum,PG,San Antonio Spurs,0.947276
DeMarre Carroll,SF,Toronto Raptors,13.6
Kyle Lowry,PG,Toronto Raptors,12.0
DeMar DeRozan,SG,Toronto Raptors,10.05
Cory Joseph,PG,Toronto Raptors,7.0
Patrick Patterson,PF,Toronto Raptors,6.268675
Jonas Valanciunas,C,Toronto Raptors,4.660482
Terrence Ross,SF,Toronto Raptors,3.5539169999999998
Luis Scola,PF,Toronto Raptors,2.9
Bismack Biyombo,C,Toronto Raptors,2.8139999999999996
Luke Ridnour,PG,Toronto Raptors,2.75
James Johnson,PF,Toronto Raptors,2.5
Lucas Nogueira,C,Toronto Raptors,1.8419999999999999
Bruno Caboclo,SF,Toronto Raptors,1.524
Delon Wright,PG,Toronto Raptors,1.50936
Norman Powell,SG,Toronto Raptors,0.65
Shannon Scott,PG,Toronto Raptors,0.525093
Ronald Roberts Jr.,PF,Toronto Raptors,0.525093
Gordon Hayward,SF,Utah Jazz,15.40957
Alec Burks,SG,Utah Jazz,9.463484
Trevor Booker,PF,Utah Jazz,4.775
Dante Exum,PG,Utah Jazz,3.7777199999999995
Tibor Pleiss,C,Utah Jazz,2.9
Trey Burke,PG,Utah Jazz,2.65824
Shelvin Mack,PG,Utah Jazz,2.433333
Trey Lyles,PF,Utah Jazz,2.2398
Joe Ingles,SF,Utah Jazz,2.05
Rodney Hood,SG,Utah Jazz,1.3484399999999999
Rudy Gobert,C,Utah Jazz,1.17588
Chris Johnson,SF,Utah Jazz,0.981348
Grant Jerrett,PF,Utah Jazz,0.947276
Jeff Withey,C,Utah Jazz,0.947276
Raul Neto,PG,Utah Jazz,0.9
Treveon Graham,SG,Utah Jazz,0.525093
Erick Green,PG,Utah Jazz,0.09941799999999999
John Wall,PG,Washington Wizards,15.85195
Nene Hilario,C,Washington Wizards,13.0
Marcin Gortat,C,Washington Wizards,11.217391000000001
Markieff Morris,PF,Washington Wizards,8.0
Bradley Beal,SG,Washington Wizards,5.694674
Martell Webster,SF,Washington Wizards,5.6135
Otto Porter Jr.,SF,Washington Wizards,4.66296
Kris Humphries,PF,Washington Wizards,4.44
Jared Dudley,SF,Washington Wizards,4.375
Alan Anderson,SG,Washington Wizards,4.0
Drew Gooden,PF,Washington Wizards,3.3
Ramon Sessions,PG,Washington Wizards,2.170465
Gary Neal,PG,Washington Wizards,2.1390000000000002
DeJuan Blair,C,Washington Wizards,2.0
Kelly Oubre Jr.,SF,Washington Wizards,1.9202400000000002
Garrett Temple,SG,Washington Wizards,1.100602
Jarell Eddie,SG,Washington Wizards,0.561716

## Reading a CSV

- We can read a CSV using `bpd.read_csv()`. Give it name of the file.

In [70]:
salaries = bpd.read_csv('data/nba_salaries.csv')
salaries

              PLAYER POSITION                TEAM  2015_SALARY
0       Paul Millsap       PF       Atlanta Hawks    18.671659
1         Al Horford        C       Atlanta Hawks    12.000000
2     Tiago Splitter        C       Atlanta Hawks     9.756250
3        Jeff Teague       PG       Atlanta Hawks     8.000000
4        Kyle Korver       SG       Atlanta Hawks     5.746479
..               ...      ...                 ...          ...
412        Gary Neal       PG  Washington Wizards     2.139000
413     DeJuan Blair        C  Washington Wizards     2.000000
414  Kelly Oubre Jr.       SF  Washington Wizards     1.920240
415   Garrett Temple       SG  Washington Wizards     1.100602
416     Jarell Eddie       SG  Washington Wizards     0.561716

[417 rows x 4 columns]

## Discussion Question

What would be a good column to use as the index?

- A) PLAYER
- B) POSITION
- C) TEAM
- D) 2015_SALARY

Is there something we should be worried about?

_Type your answer here, replacing this text._

**Solution**: (A)

- We'll use the player name.
- But we should be careful that two players don't have the same name.

## Setting the index

In [71]:
salaries_by_player = salaries.set_index('PLAYER')
salaries_by_player

                POSITION                TEAM  2015_SALARY
PLAYER
Paul Millsap          PF       Atlanta Hawks    18.671659
Al Horford             C       Atlanta Hawks    12.000000
Tiago Splitter         C       Atlanta Hawks     9.756250
Jeff Teague           PG       Atlanta Hawks     8.000000
Kyle Korver           SG       Atlanta Hawks     5.746479
...                  ...                 ...          ...
Gary Neal             PG  Washington Wizards     2.139000
DeJuan Blair           C  Washington Wizards     2.000000
Kelly Oubre Jr.       SF  Washington Wizards     1.920240
Garrett Temple        SG  Washington Wizards     1.100602
Jarell Eddie          SG  Washington Wizards     0.561716

[417 rows x 3 columns]

### Shape of a table:

- `.shape` returns the number of rows and number of columns
- Access each with `[]`:

In [72]:
salaries_by_player.shape

(417, 3)

In [73]:
salaries_by_player.shape[0]

417

In [74]:
salaries_by_player.shape[1]

3

## Use Case: Adjust for Inflation

- These salaries are old. We should adjust for inflation
- $\$1.00$ in 2015 = $\$1.09$ in 2020
- Workflow:
    - get the column of salaries
    - multiply every element by 1.09
    - add new column to table

### Step 1) Getting a column

- We can get a column from a dataframe using `.get(column_name)`:
- Warning: case sensitive!
- The result looks like a 1-column DataFrame, but is actually a *Series*

In [75]:
salaries_by_player.get("2015_SALARY")

PLAYER
Paul Millsap       18.671659
Al Horford         12.000000
Tiago Splitter      9.756250
Jeff Teague         8.000000
Kyle Korver         5.746479
                     ...
Gary Neal           2.139000
DeJuan Blair        2.000000
Kelly Oubre Jr.     1.920240
Garrett Temple      1.100602
Jarell Eddie        0.561716
Name: 2015_SALARY, Length: 417, dtype: float64

### Digression: Series

- A *Series* is like an array, but with an index
- In particular, supports arithmetic

In [76]:
salaries_by_player.get("2015_SALARY")

PLAYER
Paul Millsap       18.671659
Al Horford         12.000000
Tiago Splitter      9.756250
Jeff Teague         8.000000
Kyle Korver         5.746479
                     ...
Gary Neal           2.139000
DeJuan Blair        2.000000
Kelly Oubre Jr.     1.920240
Garrett Temple      1.100602
Jarell Eddie        0.561716
Name: 2015_SALARY, Length: 417, dtype: float64

In [77]:
# Step 2) Adjust the salaries for inflation
salaries_by_player.get("2015_SALARY") * 1.09

PLAYER
Paul Millsap       20.352108
Al Horford         13.080000
Tiago Splitter     10.634313
Jeff Teague         8.720000
Kyle Korver         6.263662
                     ...
Gary Neal           2.331510
DeJuan Blair        2.180000
Kelly Oubre Jr.     2.093062
Garrett Temple      1.199656
Jarell Eddie        0.612270
Name: 2015_SALARY, Length: 417, dtype: float64

### Step 3) Add adjusted salaries to table

- Use `.assign(Name_of_column=data_in_array)` to assign an array (or series, or list) to a table.
- **Warning!** No quotes around `Name_of_column`
- Creates a new dataframe! Must save to variable.

In [78]:
salaries_by_player.assign(
    ADJUSTED_SALARY=salaries_by_player.get("2015_SALARY") * 1.09
)

                POSITION                TEAM  2015_SALARY  ADJUSTED_SALARY
PLAYER
Paul Millsap          PF       Atlanta Hawks    18.671659        20.352108
Al Horford             C       Atlanta Hawks    12.000000        13.080000
Tiago Splitter         C       Atlanta Hawks     9.756250        10.634313
Jeff Teague           PG       Atlanta Hawks     8.000000         8.720000
Kyle Korver           SG       Atlanta Hawks     5.746479         6.263662
...                  ...                 ...          ...              ...
Gary Neal             PG  Washington Wizards     2.139000         2.331510
DeJuan Blair           C  Washington Wizards     2.000000         2.180000
Kelly Oubre Jr.       SF  Washington Wizards     1.920240         2.093062
Garrett Temple        SG  Washington Wizards     1.100602         1.199656
Jarell Eddie          SG  Washington Wizards     0.561716         0.612270

[417 rows x 4 columns]

In [79]:
salaries_by_player

                POSITION                TEAM  2015_SALARY
PLAYER
Paul Millsap          PF       Atlanta Hawks    18.671659
Al Horford             C       Atlanta Hawks    12.000000
Tiago Splitter         C       Atlanta Hawks     9.756250
Jeff Teague           PG       Atlanta Hawks     8.000000
Kyle Korver           SG       Atlanta Hawks     5.746479
...                  ...                 ...          ...
Gary Neal             PG  Washington Wizards     2.139000
DeJuan Blair           C  Washington Wizards     2.000000
Kelly Oubre Jr.       SF  Washington Wizards     1.920240
Garrett Temple        SG  Washington Wizards     1.100602
Jarell Eddie          SG  Washington Wizards     0.561716

[417 rows x 3 columns]

In [80]:
adjusted_salaries = salaries_by_player.assign(
    ADJUSTED_SALARY=salaries_by_player.get("2015_SALARY") * 1.09
)
adjusted_salaries

                POSITION                TEAM  2015_SALARY  ADJUSTED_SALARY
PLAYER
Paul Millsap          PF       Atlanta Hawks    18.671659        20.352108
Al Horford             C       Atlanta Hawks    12.000000        13.080000
Tiago Splitter         C       Atlanta Hawks     9.756250        10.634313
Jeff Teague           PG       Atlanta Hawks     8.000000         8.720000
Kyle Korver           SG       Atlanta Hawks     5.746479         6.263662
...                  ...                 ...          ...              ...
Gary Neal             PG  Washington Wizards     2.139000         2.331510
DeJuan Blair           C  Washington Wizards     2.000000         2.180000
Kelly Oubre Jr.       SF  Washington Wizards     1.920240         2.093062
Garrett Temple        SG  Washington Wizards     1.100602         1.199656
Jarell Eddie          SG  Washington Wizards     0.561716         0.612270

[417 rows x 4 columns]

## Use Case: Getting a particular player's salary

- How much did LeBron James make in 2015 (adjusted for inflation)?

In [81]:
# this is a Series!
adjusted_salaries.get('ADJUSTED_SALARY')

PLAYER
Paul Millsap       20.352108
Al Horford         13.080000
Tiago Splitter     10.634313
Jeff Teague         8.720000
Kyle Korver         6.263662
                     ...
Gary Neal           2.331510
DeJuan Blair        2.180000
Kelly Oubre Jr.     2.093062
Garrett Temple      1.199656
Jarell Eddie        0.612270
Name: ADJUSTED_SALARY, Length: 417, dtype: float64

## Accessing a Series by row label: `.loc`

- Use `.loc[]` to *access* an element of the series with a particular row label

In [82]:
adjusted_salaries.get('ADJUSTED_SALARY').loc['LeBron James']

25.037845000000004

## How to get a particular element from a table:

1. `.get()` the column label
2. `.loc[]` the row label

In this class, we'll always get column, then row (but row, then column is also possible).

 Example: What position does LeBron play?

In [83]:
adjusted_salaries.get('POSITION').loc['LeBron James']

'SF'

## Use Case: Salary Analysis

- What was the biggest/smallest salary? What was the average salary?
- *Series* have helpful methods, like `.min()`, `.max()`, `.mean()`, etc.

In [84]:
adjusted_salaries.get('ADJUSTED_SALARY').min()

0.033667920000000004

In [85]:
adjusted_salaries.get('ADJUSTED_SALARY').max()

27.250000000000004

In [86]:
adjusted_salaries.get('ADJUSTED_SALARY').mean()

5.531547785395679

## Use Case: *Who* had the biggest salary?

- Strategy: Sort the table by salary and take the name at the top

### Step 1) Sort the table

- Use the `.sort_values(by=column_name)` method to sort.
- **Notice:** Creates a new table.
- Everything works as expected, but we wanted *descending* order.

In [87]:
adjusted_salaries.sort_values(by='ADJUSTED_SALARY')

,POSITION,TEAM,2015_SALARY,ADJUSTED_SALARY
PLAYER,,,,
Thanasis Antetokounmpo,SF,New York Knicks,0.030888,0.033668
Cory Jefferson,PF,Phoenix Suns,0.049709,0.054183
Jordan McRae,SG,Phoenix Suns,0.049709,0.054183
Orlando Johnson,SG,Phoenix Suns,0.055722,0.060737
Phil Pressey,PG,Phoenix Suns,0.055722,0.060737
...,...,...,...,...
Dwight Howard,C,Houston Rockets,22.359364,24.371707
Carmelo Anthony,SF,New York Knicks,22.875000,24.933750
LeBron James,SF,Cleveland Cavaliers,22.970500,25.037845
Joe Johnson,SF,Brooklyn Nets,24.894863,27.135401
Kobe Bryant,SF,Los Angeles Lakers,25.000000,27.250000

### Step 1) Sorting the table in *descending* order

- Use `.sort_values(by=column_name, ascending=False)` to sort in *descending* order

In [88]:
highest_salaries = adjusted_salaries.sort_values(by='ADJUSTED_SALARY', ascending=False)
highest_salaries

,POSITION,TEAM,2015_SALARY,ADJUSTED_SALARY
PLAYER,,,,
Kobe Bryant,SF,Los Angeles Lakers,25.000000,27.250000
Joe Johnson,SF,Brooklyn Nets,24.894863,27.135401
LeBron James,SF,Cleveland Cavaliers,22.970500,25.037845
Carmelo Anthony,SF,New York Knicks,22.875000,24.933750
Dwight Howard,C,Houston Rockets,22.359364,24.371707
...,...,...,...,...
Elliot Williams,SG,Memphis Grizzlies,0.055722,0.060737
Orlando Johnson,SG,Phoenix Suns,0.055722,0.060737
Cory Jefferson,PF,Phoenix Suns,0.049709,0.054183
Jordan McRae,SG,Phoenix Suns,0.049709,0.054183
Thanasis Antetokounmpo,SF,New York Knicks,0.030888,0.033668

### Step 2) Get the *name* of the person with the highest salary

- We saw that is was Kobe, but how do we get the name using code?
- Remember, the index is an array

In [89]:
highest_salaries.index[0]

'Kobe Bryant'

## Use Case: What team did the person with the third-lowest salary play for?

- We have the tools, but its a little tricky. Can you think of a strategy?

## Strategy #1

1. Sort the table in ascending order using `.sort_values(by='ADJUSTED_SALARY')`
2. Get the name of the person using `.index[2]` (remember starts at 0)
3. Use `.get('TEAM').loc[their_name]` to get their team name.

In [90]:
lowest_salaries = adjusted_salaries.sort_values(by='ADJUSTED_SALARY')
lowest_salaries

,POSITION,TEAM,2015_SALARY,ADJUSTED_SALARY
PLAYER,,,,
Thanasis Antetokounmpo,SF,New York Knicks,0.030888,0.033668
Cory Jefferson,PF,Phoenix Suns,0.049709,0.054183
Jordan McRae,SG,Phoenix Suns,0.049709,0.054183
Orlando Johnson,SG,Phoenix Suns,0.055722,0.060737
Phil Pressey,PG,Phoenix Suns,0.055722,0.060737
...,...,...,...,...
Dwight Howard,C,Houston Rockets,22.359364,24.371707
Carmelo Anthony,SF,New York Knicks,22.875000,24.933750
LeBron James,SF,Cleveland Cavaliers,22.970500,25.037845
Joe Johnson,SF,Brooklyn Nets,24.894863,27.135401
Kobe Bryant,SF,Los Angeles Lakers,25.000000,27.250000

In [91]:
name = lowest_salaries.index[2]
name

'Jordan McRae'

In [92]:
lowest_salaries.get('TEAM').loc[name]

'Phoenix Suns'

## Another Approach

- To get the third element using `.loc[]`, we first had to find its label.
- Can we just get the 3rd element without knowing the label?
- Yes, with `.iloc[]`:

In [93]:
lowest_salaries.get('TEAM')

PLAYER
Thanasis Antetokounmpo        New York Knicks
Cory Jefferson                   Phoenix Suns
Jordan McRae                     Phoenix Suns
Orlando Johnson                  Phoenix Suns
Phil Pressey                     Phoenix Suns
                                 ...
Dwight Howard                 Houston Rockets
Carmelo Anthony               New York Knicks
LeBron James              Cleveland Cavaliers
Joe Johnson                     Brooklyn Nets
Kobe Bryant                Los Angeles Lakers
Name: TEAM, Length: 417, dtype: object

In [94]:
lowest_salaries.get('TEAM').loc['Jordan McRae']

'Phoenix Suns'

In [95]:
lowest_salaries.get('TEAM').iloc[2]

'Phoenix Suns'

## Strategy #2

1. Sort the table in ascending order using `.sort_values(by='ADJUSTED_SALARY')`, as before.
2. Use `.get('TEAM').iloc[2]` to get their team name.

In [96]:
adjusted_salaries.sort_values(by='ADJUSTED_SALARY').get('TEAM').iloc[2]

'Phoenix Suns'

## Summary of accessing a Series

- There are two ways to get an element of a series:
    - `.loc[]` uses the row label
    - `.iloc[]` uses the integer position
- Usually `.loc` is more convenient

## Note

- Sometimes the integer position and row label are the same
- This happens by default with `bpd.read_csv`:

In [97]:
bpd.read_csv('data/nba_salaries.csv')

              PLAYER POSITION                TEAM  2015_SALARY
0       Paul Millsap       PF       Atlanta Hawks    18.671659
1         Al Horford        C       Atlanta Hawks    12.000000
2     Tiago Splitter        C       Atlanta Hawks     9.756250
3        Jeff Teague       PG       Atlanta Hawks     8.000000
4        Kyle Korver       SG       Atlanta Hawks     5.746479
..               ...      ...                 ...          ...
412        Gary Neal       PG  Washington Wizards     2.139000
413     DeJuan Blair        C  Washington Wizards     2.000000
414  Kelly Oubre Jr.       SF  Washington Wizards     1.920240
415   Garrett Temple       SG  Washington Wizards     1.100602
416     Jarell Eddie       SG  Washington Wizards     0.561716

[417 rows x 4 columns]

In [98]:
bpd.read_csv('data/nba_salaries.csv').get('PLAYER').loc[3]

'Jeff Teague'

In [99]:
bpd.read_csv('data/nba_salaries.csv').get('PLAYER').iloc[3]

'Jeff Teague'

# More Questions

- What is the total payroll of the Cleveland Cavaliers?
- How many players make over 10 million?
- Who is the highest paid center (C)?